{% extends 'base.html' %}
{% load static %}
{% block titulo %}Admin main | A.SYS.T {% endblock titulo %}
{%block navbar%}
<nav class="navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <img src="{% static 'resources/Logo-Short.png' %}" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="tabs is-right">
                    <ul>
                        <li class="is-active"><a>Pedidos</a></li>
                        <li><a href="">Stock</a></li>
                        <li><a href="">Registros</a></li>
                        <li class="has-dropdown"><a href="">Usuarios</a></li></ul>
                        <a href="" title="logout"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    (function() {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function() {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();
</script>
{%endblock navbar%}
{%block body%}
<div class="py-3"></div>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Pepe Juarez (pepito123)
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    Este usuario pidió las siguientes herramientas en el sector B:
                    <a class="panel-block" data-id="3">
                        <span class="panel-icon">
                          <i class="fas fa-toolbox" aria-hidden="true"></i>
                        </span>
                        <p class="nombre-herr">Aceite</p>
                      </a>
                      <a class="panel-block" data-id="2">
                        <span class="panel-icon">
                          <i class="fas fa-tools" aria-hidden="true"></i>
                        </span>
                        <p class="nombre-herr">Martillo <b>x6</b></p>

                      </a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item"><i class="fas fa-check"></i></a>
                  <a href="#" class="card-footer-item"><i class="fas fa-times"></i></a>
                </footer>
              </div>
        
</div>
</div>
{%endblock body%}