{% extends 'base.html' %}

{%block navbar%}
{%load static%}
<nav class="navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="{% static 'resources/Logo-Short.png' %}" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="tabs is-right">
                    <ul>
                        <li {% if request.path == "/user/data/" %} class="is-active"{%endif%}>
                            <a href="/user/data/">{{user.username}}</a></li>
                        <li {% if request.path == "/user/pedir/" %} class="is-active"{%endif%}>
                            <a href="/user/pedir/">Pedido</a></li>
                        <li {% if request.path == "/user/devolver/" %} class="is-active"{%endif%}>
                            <a href="/user/devolver/">Seguimiento</a></li></ul>
                        <a href="/login/logout" title="logout"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    (function() {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function() {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();
</script>
{%endblock navbar%}
