{% extends 'User-navbar.html' %}
{% load static %}
{% block titulo %}Devolver | A.SYS.T{% endblock titulo %}
{% block css %}
  <link rel="stylesheet" href="{% static 'styles/UserPD.css' %}">
  <link rel="stylesheet" href="{% static 'styles/steps/dist/css/bulma-steps.min.css' %}">
{% endblock css %}

{% block body %}
<div class="container"> 
  <div class="py-3"></div>
  <div class="card">
    <div class="py-3"></div>
  <div class="steps">

    <div class="step-item is-completed is-success">
      <div class="step-marker">
        <span class="icon"><i class="fa fa-check"></i></span>
      </div>
      <div class="step-details">
        <p class="step-title">Aprobado</p>
      </div>
    </div>

    <div class="step-item is-active">
      <div class="step-marker"></div>
      <div class="step-details">
        <p class="step-title">Preparando</p>
      </div>
    </div>

    <div class="step-item">
      <div class="step-marker">3</div>
      <div class="step-details">
        <p class="step-title">Viajando</p>
      </div>
    </div>

    <div class="step-item">
      <div class="step-marker">
        <span class="icon"><i class="fa fa-flag"></i></span>
      </div>
      <div class="step-details">
        <p class="step-title">En destino</p>
      </div>
    </div>

  </div>
  <div class="py-1"></div>

</div>
  <div class="columns" id="devolver1">
    <div class="column">
        <div class="card">
            <article class="panel">
              <p class="panel-heading" id="titlePanel1">En posesión actualmente</p>
    
    
<div  id="panel-busqueda"></div>
            </article>
            <input type="hidden" id="pedido-db" value="{{pedido.pedido}}">
          </div>
          <div class="card" id="text1">
          <p class="panel-heading" id="titlePanel1">Observaciones</p>
          <textarea class="textarea is-success" placeholder="Escribe aquí"></textarea>
          </div>
    </div>


    <div class="column is is-three-fifths">
        <div class="container"id="logodevolver">
            <img src="{% static 'resources/Logo-Name.png' %}" alt="A.SYS.T" >
            <button class="button is-success is-large is-fullwidth" id="Devolbutton">Confirmar   Devolución</button>
          <div class="py-5"></div>

        </div>

    </div>

    </div>
</div>





<template id="bloque-lista">
  <div class="panel-block"> 
    <span class="panel-icon">
      <i class="fas fa-question-circle" aria-hidden="true"></i>
    </span>
    <span class="texto-ped-item nombre-herr">Hola</span>
    <span class="input-item">
      <div class="field has-addons">
        <div class="control">
          <input class="input is-small itemnum" type="text" placeholder="N" readonly="true">
        </div>
        </div>
    </span>
</template>
{% endblock body %}
{% block js %}
  <script src="{% static 'scripts/devolucion.js' %}"></script>
{% endblock js %}   