#navbar1{
  height: 9%;
  font-size: 22px;
}
  
  
  
  #searchBar1{
      margin: 5% 0;
  }
  .vertical{
    margin-left: 9% ;
    padding-left: .5%;
   background-color: gainsboro;
}




#titlePanel1{
    text-align: center;
    /* align-items: center; */
}


#Aceptbutton{
  margin-top: 3%;
  width: 90;
}

#itemnum{
  width: 52px;
  align-items: right;
}
#itemname{
  width: 205px;
}
