  #searchBar1{
      margin: 5% 0;
  }
  .vertical{
    margin-left: 9% ;
    padding-left: .5%;
   background-color: gainsboro;
}




#titlePanel1{
    text-align: center;
    /* align-items: center; */
}